<p>
  <mat-toolbar color="primary">
    <img
      class="logo"
      src="../../../../assets/img/white_cat_no_bg.png"
      aria-label="kitty logo"/>
    <span class="menu-items-spacer"></span>
    <span>Kitties Mini App</span>
    <span class="menu-spacer"></span>
    <button
      mat-flat-button
      color="primary"
      aria-label="Dashboard menu button">
      Dashboard
    </button>
    <button
      mat-flat-button
      color="primary"
      aria-label="Gallery menu button">
      Gallery
    </button>
    <button
      mat-flat-button
      color="primary"
      aria-label="CRUD menu button">
      CRUD
    </button>
    <button
      mat-flat-button
      color="primary"
      aria-label="Profile menu button">
      Profile
    </button>
  </mat-toolbar>
</p>