<p>
  <mat-toolbar color="primary">
    <img
      class="logo"
      src="../../../../assets/img/white_cat_no_bg.png"
      aria-label="kitty logo"/>
    <span class="menu-items-spacer"></span>
    <span>Kitties Mini App</span>
    <span class="menu-spacer"></span>
    <nav>
      <a
        mat-flat-button
        color="primary"
        routerLink="/home"
        aria-label="Home menu button">
        Home
      </a>
      <a
        mat-flat-button
        color="primary"
        routerLink="/login"
        aria-label="Login menu button">
        Login
      </a>
      <a
        mat-flat-button
        color="primary"
        routerLink="/about"
        aria-label="About menu button">
        About
      </a>
    </nav>
  </mat-toolbar>
</p>
